<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
	<Product Id="B1570FB1-4AC7-4D85-BA29-3C61561B96A1"
		Name="Ham Exam Helper"
		Language="1033"
		Version="1.1.1.0"
		UpgradeCode="7E5E6B90-A8FB-464B-ACCB-407C382E3332" 
		Manufacturer="Markus Schulz">
		<Package Id="64670F82-2BDA-4C2D-8D52-EEFDE081CEE6"
			Description="#Description"
			Comments="Comments"
			InstallerVersion="200"
			Compressed="yes"/>
		
		<Property Id="AcceptLicense">No</Property>
		
		<!--BUTTON TEXT-->
		<Property Id="Button_Back">&lt; &amp;Back</Property>
		<Property Id="Button_Next">&amp;Next &gt;</Property>
		<Property Id="Button_Finish">&amp;Finish</Property>
		
		<Property Id="Button_OK">OK</Property>
		<Property Id="Button_Cancel">Cancel</Property>
		
		<Property Id="Button_Browse">Br&amp;owse...</Property>
		<Property Id="Button_Exit">&amp;Exit</Property>
		<Property Id="Button_Ignore">&amp;Ignore</Property>
		<Property Id="Button_Install">&amp;Install</Property>
		<Property Id="Button_Remove">&amp;Remove</Property>
		<Property Id="Button_Repair">&amp;Repair</Property>
		<Property Id="Button_Reset">&amp;Reset</Property>
		<Property Id="Button_Resume">&amp;Resume</Property>
		<Property Id="Button_Retry">&amp;Retry</Property>
		<Property Id="Button_Return">&amp;Return</Property>
		
		<Property Id="Button_Yes">&amp;Yes</Property>
		<Property Id="Button_No">&amp;No</Property>
		<!--END BUTTON TEXT-->
		
		<CustomAction Id="SET_INSTALLDIR" Property="INSTALLDIR" Value="[INSTALLDIR]" Execute="firstSequence" />
		
		<!-- INSTALL DESCRIPTION -->
		<Media Id="1" Cabinet="contents.cab" EmbedCab="yes" />
		
		<Directory Id="TARGETDIR" Name="SourceDir"/>
		
		<Feature Id="MyFeature" Title="Required Files" Level="1">
			<ComponentRef Id="MyComponent" />
		</Feature>
		<Icon Id="HEH.ICO" SourceFile="..\HEH.ICO" />
		<!-- END INSTALL DESCRIPTION -->
		
		<AdminExecuteSequence>
		</AdminExecuteSequence>
		
		<InstallExecuteSequence>
		</InstallExecuteSequence>

		<UIRef Id="UserInterface"/>
	</Product>
</Wix>
